/* Define all sections */
body {
    background: white;
    margin: 0;
    font-size: 1.5em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    height: 100vh;

    display: grid;
    grid-gap: 10px;
    
    grid-template-areas:
        "header"
        "hero"
        "body"
        "footer"
}

/* Header section */
header {
    background: lightpink;

    font-weight: bold;
    color: darkslategray;

    padding: 10px;
    grid-area: header;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    grid-template-areas:
        /* "brand nav tools"; */
        "brand brand"
        "nav tools";
}

header .brand {
    background: lightsalmon;
    grid-area: brand;
}

header nav {
    background: lightsalmon;
    grid-area: nav;
}

header .tools {
    background: lightsalmon;
    grid-area: tools;
}


/* Hero section */
.hero {
    background: whitesmoke;
    padding: 10px;
    grid-area: hero;

    font-weight: lighter;
    color: black;

    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    grid-template-areas:
        "action";
}

.hero .action {
    background: rgb(241, 239, 239);
    grid-area: action;
}

.hero .feature {
    background: rgb(241, 239, 239);
    grid-area: feature;
}


/* Body section */
main {
    background: lightsteelblue;

    padding: 10px;
    grid-area: body;

    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    grid-template-areas: 
        "feature"
        "ad"
        "listing";
}

main .feature {
    background: lightblue;
    grid-area: feature;
}

main .mobile-ad {
    grid-area: ad;
}

main .listing {
    background: lightblue;
    grid-area: listing;
}


/* Footer section */
footer {
    background: lightblue;
    color: black;
    font-weight: bold;
    padding: 10px;
    grid-area: footer;
    font-style: italic;
}


/* Hide Sections which are not part of mobile */
.desktop-ad {
    grid-area: ad;
    display: none;
}

.hero .feature {
    display: none;
}

/* Sidebar section */
.sidebar {
    background: lightsteelblue;
    padding: 10px;
    grid-area: sidebar;

    display: none;
}

.sidebar .feature {
    background: lightblue;
    height: 100%;
}

/* Other */
.mobile-ad img {
    vertical-align: top;
    width: 100%;
}

.desktop-ad img {
    vertical-align: top;
    width: 350px;
}

.mobile-ad:hover {
    opacity: 0.5;
}

.desktop-ad:hover {
    opacity: 0.5;
}



/* Tablet friendly layout */
@media (min-width: 576px) {
    body {
        grid-template-rows: auto auto 1fr auto auto;
        grid-template-areas:
            "header"
            "hero"
            "body"
            "sidebar"
            "footer";
    }

    /* Change Header Layout */
    header {
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-areas:
            "brand nav tools";
    }

    /* Change Hero Layout */
    .hero {
        grid-template-areas:
            "feature"
            "action";
    }

    .hero .feature {
        display: block;
    }

    /* Change Body Layout */
    main {
        grid-template-columns: 1fr 200px;
        grid-template-rows: auto 1fr;
        grid-template-areas:
            "feature ad"
            "listing listing";
    }

    /* Change Sidebar Layout */
    .sidebar {
        display: grid;
    }

    .mobile-ad img {
        width: 200px;
    }
}

/* Desktop friendly layout */
@media (min-width: 992px) {
    body {
        grid-template-columns: 1fr 350px;
        grid-template-rows: auto auto 1fr auto;
        grid-template-areas:
            "header header"
            "hero ad"
            "body sidebar"
            "footer footer"
    }

    /* Change Hero Layout */
    .hero {
        grid-template-columns: 2fr 1fr;
        grid-template-areas:
            "feature action"
    }

    /* Change Body Layout */
    main {
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 1fr;
        grid-template-areas:
            "feature listing"
    }

    .mobile-ad {
        display: none;
    }

    .desktop-ad {
        display: block;
    }
}



